#logoMin{
   /*background-color: "#ffff33";*/
   /*border: 1px solid black;*/
   background-image: url("../images/dinnerWizardSmall_02.png");
   background-repeat: no-repeat;
   background-position: center; 
   height: 40px;
   width: 40px;
   font-size: 0em;
   display: inline-block;
   position:absolute;
   top: -2px;
   margin-bottom: 8px;
   padding-bottom: 8px;

}
#logoText{
   /*background-color: "#ff2222";*/
   background-image: url("../images/dinnerWizardText_small.png");
   height: 35px;
   width: 165px;
   font-size: 0em;
   /*text-align: left;*/
   display: inline-block;
   position:absolute;
   top: -2px;
   left: 52px;
}
.contentContainer{
   border: 1px dashed black;
   margin-top: 2px;
   margin-bottom: 3px;

}
li:hover{
   font-weight: bold;
}
.inv li:hover, .filt li:hover{
   cursor: pointer;
}
.rec li:hover, .procedureBox li:hover{
   font-weight:normal;
}
.inv li a:hover, .filt li a:hover{
   text-decoration: none;
   font-weight: bold;
}
body { 
   padding-top:5px;
   font-family: serif;
   /*font-size: 1.1em;*/
  
}
@media(min-width: 1000px){
   body{
      overflow-y:hidden;
   }
}

.container-fluid{
   padding-left: 5px;
   padding-right: 5px;
}
.roundEdges{
   border: 1px solid black;
   border-radius: 11px;
   font-size: 1.1em;
   text-align: center;
   margin-top: 7px;
   margin-bottom:7px;
   padding: 4px;
   font-family: 'Bitter', serif;
}

.rightColumn{
   height: 550px;
}
@media (max-width: 500px) {
   body{

    font-size: 1em;
    }

}
@media (max-width: 500px) {
   .roundEdges{
      font-size: 1em;
   }
   .rightColumn{
      height: 200px;
   }
}

a:hover{
   cursor: pointer;

}
.tagsList{
   height: 200px;
   font-size:.7em;
   
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
   -webkit-column-gap: 4px; /* Chrome, Safari, Opera */
   -moz-column-gap: 4px; /* Firefox */
   column-gap: 4px;
} 

.actualTagsList{
   padding-left:0px;
}


.infoBox{
   height: 200px;
}

.procedureBox{
   height: 325px;
   overflow-y: scroll;
}


/* styling accordions, overriding bootstrap css */
.panel-default > .panel-heading{
   /*colors currently disabled for consistency for presentation tomorrow. dummy values directly below:*/ 
  /* background-color: white;*/
   /*border: 1px solid gray;*/
  /* background-color: #8d1801; /*dark red /*#99b9f4; medium light blue    #f8b30e; /* dark yellow */
   border-radius:19px;
   /*color: white;*/
   /*border: none;*/
   background-image: none;
   text-align: center;
   height: 40px;
   width: 320px;
}

a.accordion-toggle:hover{
   text-decoration:none;
}
h4.panel-title{
 font-size: 1.7em;
 font-family: 'Vollkorn', serif;
}

.panel-group .panel{
   border-radius: 19px;
   margin-top:2px;
   border: none;
   
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none;
    font-family: sans-serif;
}

.inv >.panel-group >.panel-default >.panel-heading{
   background-color: #f8b30e !important; /* dark yellow */
   color: white;
   border: none;
}

.filt >.panel-group >.panel-default >.panel-heading{
   background-color: #8d1801; /*dark red */
   color: white;
   border: none;
}

.rec >.panel-group >.panel-default >.panel-heading{
   background-color: #99b9f4; /*medium light blue*/
   color: white;
   border: none;
}
/* end styling accordions*/

/* splash screen and its fade in/out animations*/
.splash {
  background: white;
  background-image:url("DWLogo05.png");
  background-repeat: no-repeat;
  background-position: center; 
  -webkit-animation: splash 10s linear 1s 1;
  animation: splash 10s linear 1s 1;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;

  z-index: 2;
  position: absolute;
  height: 101%;
  top:-5px;

}

.splash p {
   opacity: 0;
   font-size: 1em;
   font-family: 'Bitter', serif;
   position: relative;
   top:85%;
   /*left: 20%;*/
   text-align: center;
   -webkit-animation: splashText 6s ease  2s 1;
   animation: splashText 6s ease 2s 1;
   animation-fill-mode:forwards;
   -webkit-animation-fill-mode:forwards;
   z-index: 2;
}
@media (max-width: 1200px){
   .splash p {
      top:87%;
     
   }
}
@media (max-width: 700px) {
   .splash {
   background-image:url("DWLogo06.png");
   }
   .splash p {
      top:68%;
  }
}
@keyframes splash{
   0%{opacity: 10;}
   40%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   90%{opacity: 0;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}

@-webkit-keyframes splash{
   40%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   90%{opacity: 0;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}

@keyframes splashText{
   0%{opacity: 0;}
   30%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}

@-webkit-keyframes splashText{
   0%{opacity: 0;}
   30%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}
#splashImage{
 
}


