/**File: dinnerwizard.html
   91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
   Created:  2/07/2015 by Susan Souza, for use in the Dinner Wizard Application.
   
*/
#logoMin{
   /*border: 1px solid black;*/
   background-image: url("../images/dinnerWizardSmall_02.png");
   background-repeat: no-repeat;
   background-position: center; 
   height: 40px;
   width: 40px;
   font-size: 0em;
   display: inline-block;
   position:absolute;
   top: -2px;
   margin-bottom: 8px;
   padding-bottom: 8px;

}
#logoText{
   /*background-color: "#ff2222";*/
   background-image: url("../images/dinnerWizardText_small.png");
   height: 35px;
   width: 165px;
   font-size: 0em;
   /*text-align: left;*/
   display: inline-block;
   position:absolute;
   top: -2px;
   left: 52px;
}

#ingredientSearch{ /* this styles the input block for the searchbar*/
   display:inline-block;
   border: none;
   width: 240px;
   height: 28px;
   border: 1px solid lightgray;
   border-radius: 8px; 
}

#searchAdd{ /* div containing both the search bar and the glyphicon*/
   display:inline-block;
}

@media(max-width: 1400px){ /* this to correct weird shifting */
   #ingredientSearch{
      width: 160px;
   }
}
.glyphicon-search{ /*style the magnifying glass glyphicon*/
   color: powderblue;
   cursor:default;
   right: 20px;
}
.contentContainer{ /*a general dashed-line container to show positioning while working on styling and layout*/
   border: 1px dashed black;
}

div{
   margin-top: 2px;
   margin-bottom: 3px;
}

li:hover{   /*most list items are interactive, so here's something to show that without the ugly underline*/
   font-weight: bold;
   cursor: pointer;
}

#recListing{ /*a box to which we add a scrollbar if there are too many recipes to fit nicely on the page*/
   overflow-y: auto;
   height: 600px;
   min-width: 350px;
   max-width: 380px;
}
.inv li:hover, .filt li:hover{
   cursor: pointer; /* re-emphasising interactivity on these specific list items in filter and inventory view*/
}
.rec li:hover, .procedureBox li:hover{
   font-weight:normal;
   cursor: default;  /* list items in recipe procedure are not interactive, so we get rid of special list styling for those */
}
.inv li a:hover, .filt li a:hover{
   text-decoration: none;
   font-weight: bold;
   /* here we make sure that that link underline doesn't show up*/
}
.optional{
   cursor: pointer;
   color: gray;
   //text-decoration: underline;
   //text-decoration-style: dotted;
   //border-bottom:thin dashed gray;
    /*temporary styling for optional ingredients*/
}

.optionalTip{
   opacity: .5;
   background-color: gray;
   color: #065195; /* dark blue*/ 
}

.subsAvailable{
   cursor: pointer;
   color: #065195; /* dark blue*/  
}
.component{
   cursor:pointer;
   color: green;
}
.accessGlyph{
   position: relative;
   float:right;
   right: 60px;
}
.accessGlyphLeft{
   right:70px;
   position: relative;
   float:right;
}
.componentRecipe{
   font-size: .9em;
}


.componentIngredients{
   -webkit-column-count:2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
   -webkit-column-gap: 2px; /* Chrome, Safari, Opera */
   -moz-column-gap: 2px; /* Firefox */
   column-gap: 2px;
}
.componentRecipe  ul, .componentRecipe ol{
   margin-left: 4px;
   padding-left: 4px;
}
body { 
   padding-top:5px;
   font-family: serif;
   background-color: white;
   /*font-size: 1.1em;*/
  
}
@media(min-width: 1000px){
   body{
      overflow-y:hidden;
   }
}

/*slightly temporary rules for an attempt at different color #recipes button on each view. Under construction.*/
.filtStyle{
   color: #f8b30e; /* dark yellow */
}
.recStyle{
   color: #8d1801; /*dark red */
}
.invStyle{
   color: #065195; /* dark blue*/
}

/*some extra overrides for bootstrap's container-fluid to sit properly in this particular layout*/
.container-fluid{
   padding-left: 5px;
   padding-right: 5px;
}
/*initial styling for all buttons. needs review*/
.roundEdges{
   border: 1px solid lightgray;
   border-radius: 12px;
   font-size: 1.1em;
   text-align: center;
   margin-top: 7px;
   margin-bottom:7px;
   padding: 4px;
   font-family: 'Bitter', serif;
   background-color: #ebebfb;
}

/*styling for the right-hand column of each view.  */
.rightColumn{
   height: 550px;
   padding-right: 5px;
}

/*some adjustments to follow depending on screen width*/
@media (max-width: 500px) {
   body{
    font-size: 1em;
    }

}
@media (max-width: 500px) {
   .roundEdges{
      font-size: 1em;
   }
   .rightColumn{
      height: 200px;
   }
}

/*again re-interating that we want a pointer over links */
a:hover{
   cursor: pointer;

}


.tagsList{ /* style the container around the list of user-selected filters in the recipe view*/
   height: 200px;
   font-size:.85em;
   padding-left: 0px;
   
   /*
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   /*-moz-column-count: 2; /* Firefox */
   /*column-count: 2;
   -webkit-column-gap: 4px; /* Chrome, Safari, Opera */
  /* -moz-column-gap: 4px; /* Firefox */
  /* column-gap: 4px;
   */
} 

/*style the list items for the user-selected filters in the recipe view*/
.actualTagsList{
   padding-left:0px; 
}
/*style for the list of tags associated with a selected recipe, displayed above procedure*/
.hScroll{
   overflow-x: auto;
   max-height: 25px;
}
/*add a curved-corner, thick, darker yellow dashed line to the box that displays all sorts of information (like ratio charts) above procedure*/
.infoBox{
   height: 200px;
   border: 4px dashed #f8b30e; /* dark yellow */
   border-radius: 9px;
    overflow-y: auto;
}

/*make the box in which recipe procedure sits have a fixed height and scroll when the procedure is too large to fit.*/
.procedureBox{
   height: 325px;
   overflow-y: auto;
}

/*some minor spacing adjustments for the list of user-selected filters in the recipe view*/
.actualTagsList li{
   margin: 2px;
}

/* 'default' styling for tags. color selection actually matches that of 'Dish' tags.*/
.tags{
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 0px;
   padding-bottom: 0px;
   border-radius: 8px;
   color: #065195; /* dark blue*/
   border: 1px solid #065195; 
   background-color: #d9ffff; /*pale blue*/
   font-size: 1.1em;
}
/* change colors to orange for Flavor*/
.flavor{
   color: #be6201; /*orange*/
   border: 1px solid #be6201;
   background-color: #fee7cb; /*fed6ab; /*pale orange*/
   
}
.equip{
   color: #217603;/* medium dark green*/
   border: 1px solid #217603;
   background-color: #e7f2e3; /*d4e2cf; /*pale green*/
}
.dish{
   color: #065195; /* dark blue*/
   border: 1px solid #065195; 
   background-color: #d9ffff; /*pale blue*/
}
.other{
   color: #5a0799;/*purple*/
   border: 1px solid #5a0799;
   background-color: #eadcf4; /*pale purple*/
}
.without{
   color: #8d1801; /*dark red*/
   border: 1px solid #8d1801; 
   background-color: #ebebfb; /*very pale bluish gray*/ #e6ebef; /* pale gray*/
}
/*if, instead of a tag, this is something else displayed in any of the tag lists, remove all the relevant 'tag' styling.*/
.noStyle{
   border: none;
   color: black;
   background-color: #fff;
}

/* more link styling.  Could possibly combine some of this with earlier rules.  Next pass.*/
a:link{
   text-decoration:none;/*remove the dashed line box around clicked areas*/
   outline: none;
}

a:hover, a:focus{
   text-decoration:none;
   outline: none;
   font-weight: bold;
}
a:visited{
   text-decoration:none;
   outline: none;
}

a:active{
   text-decoration:none;
   outline: none;
   
}



/* styling accordions, overriding bootstrap css */
.panel-default > .panel-heading{
   /*border: 1px solid gray;*/
  /* background-color: #8d1801; /*dark red /*#99b9f4; medium light blue    #f8b30e; /* dark yellow */
   border-radius:19px;
   /*color: white;*/
   /*border: none;*/
   background-image: none;
   text-align: center;
   height: 40px;
   width: 320px;
   text-decoration:none;
}

div a.accordion-toggle:link, div a.accordion-toggle:hover, div a.accordion-toggle:visited, div a.accordion-toggle:active,  a.accordion-toggle:link,  a.accordion-toggle:hover, a.accordion-toggle:visited, a.accordion-toggle:active{
   text-decoration:none;
   outline: none;
   font-weight: normal;
}


h4.panel-title{
   font-size: 1.7em;
   font-family: 'Vollkorn', serif;
   outline: none;
}
.rec h4.panel-title{
   font-size: 1.3em;
}/* make sure three full tags can fit in an accordion header, above and below*/
.rec h4.panel-title ul{
   padding-left: 0px;
   margin-left: -8px;
   cursor:pointer;
   
}
.rec h4.panel-title li{
   margin-right: 0px;
   cursor:pointer;
  
}

.panel-group .panel{
   border-radius: 19px;
   margin-top:2px;
   border: none;
   text-decoration:none;
   
}
.panel-collapse > .panel-body ul{
   margin-bottom:1px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
   border: none;
   font-family: sans-serif;
   text-decoration:none;
}
/* set color choices for each accordion header*/
.inv >.panel-group >.panel-default >.panel-heading{
   background-color: #f8b30e; /* dark yellow */
   color: white;
   border: none;
   text-decoration:none;
}

.filt >.panel-group >.panel-default >.panel-heading{
   background-color: #8d1801; /*dark red */
   color: white;
   border: none;
   text-decoration:none;
}

.rec >.panel-group >.panel-default >.panel-heading{
   background-color: #99b9f4; /*medium light blue*/
   color: white;
   border: none;
   text-decoration:none;
   font-size: 1em;
}

div.panel-group{
   margin-bottom: 2px;
}
div.panel-body{
   padding: 2px;
   padding-left: 15px;
}
/***** end styling accordions*******/

/* splash screen and its fade in/out animations*/
.splash {
  background: white;
  background-image:url("DWLogo05.png");
  background-repeat: no-repeat;
  background-position: center; 
  -webkit-animation: splash 10s linear 0s 1;
  animation: splash 10s linear 0s 1;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;
  position: absolute;
  height: 101%;
  top:-5px;

  cursor: none;
}


.splash p {
   opacity: 0;
   font-size: 1em;
   font-family: 'Bitter', serif;
   position: relative;
   top:85%;
   /*left: 20%;*/
   text-align: center;
   -webkit-animation: splashText 6s ease  2s 1;
   animation: splashText 6s ease 2s 1;
   animation-fill-mode:forwards;
   -webkit-animation-fill-mode:forwards;
   
}


@media (max-width: 1200px){
   .splash p {
      top:87%;
   }  
}

@media (max-width: 700px) {
   .splash {
   background-image:url("DWLogo06.png");
   }
   .splash p {
      top:68%;
  }

}


@keyframes splash{
   0%{opacity: 10;
   z-index: 2;}
   40%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   90%{opacity: 0;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}

@-webkit-keyframes splash{
   40%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   90%{opacity: 0;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}

@keyframes splashText{
   0%{opacity: 0;
   z-index: 2;}
   30%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}

@-webkit-keyframes splashText{
   0%{opacity: 0;}
   30%{opacity:100;
   z-index: 2;}
   50%{opacity:100;
   z-index: 2;}
   100%{opacity: 0;
   z-index: -1;}
}





