<!DOCTYPE html>
<html lang="en" ng-app="DinnerWizardApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Dinner Wizard</title>
       <!--
      File: dinnerwizard.html
      91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
      Project Team: Susan Souza, Tommy Leedberg, Matthew Szekely
      Created:  2/07/2015 by Susan Souza, for use in the Dinner Wizard Application.
      Modified: 2/08/2015 by Susan Souza to further tweak layout positioning. 
      Modified: 2/09/2015 by Susan Souza to add necessary script and elements for routing/views/navigation, found here: http://plnkr.co/edit/dd8Nk9PDFotCQu4yrnDg?p=preview 
      Modified: 3/09/2015 by Susan Souza to rearrange some of the button positions and add splash screen
      Modified: 4/05/2015 by Susan Souza to begin making this app more mobile friendly
      -->
   <!-- Load jQuery before Angular so they don't collide in unpleasant ways -->
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <!-- Load chart-building js -->  
   <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
   <!-- AngularJS -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
   <!--Angular Touch for mobile touch-related (swipe) events-->
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-touch.min.js"></script>
    
   <!-- BOOTSTRAP -->
   <!--AngularUI Bootstrap-->
   <!--<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>-->
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
   <!-- Bootstrap Style Sheet -->
   <!--<link href="css/bootstrap.css" rel="stylesheet">-->

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

   <!-- Google Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700,400italic' rel='stylesheet' type='text/css'>
   
   
   <!--Dinner Wizard's style sheet -->
   <link href="css/dwStyles.css" rel="stylesheet">
   <!--Routing script here-->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
   <script src="js/dwScript.js"></script>
   <script src="js/dwService.js"></script>
   <script src="js/dwInventoryCtrl.js"></script>
   <script src="js/dwFilterCtrl.js"></script>
   <script src="js/dwRecipeCtrl.js"></script>
   <script src="js/dwAboutCtrl.js"></script>
   <script src="js/instrCtrl.js"></script>

  </head>
  
  <body ng-controller="inventoryController" onpageshow = "openInstr()">
 <!--splash screen-->
   <!-- <div id="splash" class ="splash col-xs-12">
      <p>Just a moment while Dinner Wizard summons chefs from the nether realm to combine the contents of your fridge...</p>
    </div>  
  <!-- end splash screen-->
   <div id="splashBlanket"class="col-xs-12"></div>
    <div  id ="bigBox">
 
     <div id="headerRow"class="container-fluid">
         <a class = "col-xs-3" href="#inventory">
           <div id = "logoMin">DW</div>
           <div id = "logoText" class = "hidden-xs">Dinner Wizard</div>
         </a><!-- end logo-->
           
            <div class="hidden-xs col-sm-5"></div>
            <div class="col-xs-4 col-md-2 rightHandButtons">
               <a href="#recipes"><span class= "roundEdges recStyle recipeButton" ng-click="search()" ng-class="{'activeButton':$route.current.templateUrl=== 'recipeview.html'}">{{recipes.length}} Combination<span ng-if="recipes.length!== 1">s</span></span></a>
               <a href="#about"><span class ="glyphicon glyphicon-question-sign recipeButton aboutStyle "></span></a>
            </div>
         <!-- end recipes button placement -->
        
     </div><!-- end headerRow --> 
     
   <div class="col-xs-12" style="height:4px"></div><!--hacked-in spacer--> 
   <div id="ButtonsRow"class="container-fluid hidden-xs">   
      <a class="col-sm-2 hidden-xs"href="#recipes"><span class= "roundEdges hidden-xs hidden-sm hidden-md hidden-lg">Random Combination</span></a> 
      <div class="col-sm-7 col-lg-7"></div>
      <div class="col-xs-2"></div>
   </div>
  
   <div id= "contentRow" class="container-fluid"> 

      <div class="col-xs-12" style="height:7px "></div><!--hacked-in spacer-->
      <div class="col-xs-2 col-sm-2 col-md-2 hidden-xs" >
         <div class="col-xs-12" style="height:18px"></div><!--hacked-in spacer-->
         <a class="hidden-xs col-xs-12"href="#inventory"><span class= "roundEdges invStyle" ng-class="{'activeButton':$route.current.templateUrl==='inventory.html'}">Inventory</span></a>
         <div class="col-xs-12" style="height:10px"></div><!--hacked-in spacer-->
         <a class="hidden-xs col-xs-12" href="#filter"><span class= "roundEdges filtStyle"ng-class="{'activeButton':$route.current.templateUrl==='recipefilters.html'}">Search Filters</span></a>
         <div class="col-xs-12" style="height:7px"></div><!--hacked-in spacer--> 
      </div>
      <div class="col-xs-11 col-sm-10 col-md-9 swipable">
          <!-- angular templating -->
         <!-- this is where content will be injected -->
         <div ng-view></div>
         <div class="col-xs-12" style="height:7px"></div><!--hacked-in spacer-->   
      </div>
   </div>
   <!-- These are the two buttons at the bottom of the mobile layout.  
   Need logic to swap them for appropriate ones(with appropriate navigation) 
   depending on screen.-->
   <div id = "hiddenFootButtons" class ="hidden-sm hidden-md hidden-lg hidden-xl col-xs-12">
      
      <a class="col-xs-6 col-sm-3 "href="#recipes" id="randFoot"><span class= "roundEdges filtStyle">Random Suggestion</span></a> 
      <a class="col-xs-5 col-sm-4" href="#filter" id="recipeFoot"><span class= "roundEdges invStyle">Search Filters</span></a>
      <a class="col-xs-4 col-sm-3" href="#inventory" id="invFoot"><span class= "roundEdges recStyle">Inventory</span></a>
      </div>
   </div>
  </body>
</html>