 <!--
File: instructions.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Project Team: Susan Souza, Tommy Leedberg, Matthew Szekely
Created: 4/23/2015 for use in the Dinner Wizard application
-->
<!-- as per the formula given on the examples page for AngularUI-Bootstrap, these are the headers for each page of the guide modal-->
   <div ng-if="guideCount === 0" class="modal-header">
         <h3 class="modal-title"><span class="col-xs-3"></span><span class="col-xs-7">Welcome to Dinner Wizard!</span> <span class="col-xs-2"></span><span class="col-xs-1 closingX shiftUp5" ng-click="skip()"><a>x</a></span></h3>
   </div>
   <div ng-if="guideCount === 1" class="modal-header">
      <h3 class="modal-title"><span class="col-xs-3"></span><span class="col-xs-7">Overview </span><span class="col-xs-2"></span><span class="col-xs-1 closingX shiftUp5" ng-click="skip()"><a>x</a></span></h3>
   </div>
      <div ng-if="guideCount === 2" class="modal-header">
      <h3 class="modal-title"><span class="col-xs-3"></span><span class="col-xs-7">The Dinner Wizard Inventory </span><span class="col-xs-1 closingX shiftUp5"ng-click="skip()"><a>x</a></span></h3>
   </div>
   <div ng-if="guideCount === 3" class="modal-header">
      <h3 class="modal-title"><span class="col-xs-3"></span><span class="col-xs-7">Search Filters</span><span class="col-xs-1 closingX shiftUp5"ng-click="skip()"><a>x</a></span></h3>
   </div>
   <div ng-if="guideCount === 4" class="modal-header">
      <h3 class="modal-title"><span class="col-xs-5"></span><span class="col-xs-5">Combinations </span><span class="col-xs-2"></span><span class="col-xs-1 closingX shiftUp5"ng-click="skip()"><a>x</a></span></h3>
   </div>
      <div ng-if="guideCount === 5" class="modal-header">
      <h3 class="modal-title"><span class="col-xs-3"></span><span class="col-xs-7">Combinations, Continued </span><span class="col-xs-1 closingX shiftUp5"ng-click="skip()"><a>x</a></span></h3>
   </div>
      <div ng-if="guideCount === 6" class="modal-header">
      <h3 class="modal-title"><span class="col-xs-3"></span><span class="col-xs-7">Ready, Set, Go! </span><span class="col-xs-1 closingX shiftUp5"ng-click="skip()"><a>x</a></span></h3>
   </div>
   <!--end headers-->
<!-- and these are each of the body content of the guide modal-->
   <div class="modal-body container-fluid"ng-if="guideCount === 0">
 
      <div class="col-xs-12 modalFirst"></div>

      <div  class="col-xs-12">
         <div class="col-xs-7 shiftUp"><span class="col-xs-4"></span><a ng-click="cont()"><span class="col-xs-5 roundEdges">Show Guide</span></a></div>
         <div class="col-xs-5 shiftUp"><span class="col-xs-4"></span><a ng-click="skip()"><span class="col-xs-4 roundEdges">Skip</span></a></div>
      </div>
       <div  class="col-xs-12"><span class="col-xs-3"></span><div class="col-xs-9 shiftUp">The guide can also be accessed from the <span class="glyphicon glyphicon-question-sign"></span> page.</div></div>
   </div>
   <div class="modal-body container-fluid  " >
<!--second page: overview-->    <div ng-if="guideCount === 1"class="col-xs-12"style="height:280px"><p>Dinner Wizard takes a list of ingredients that you have in your fridge, kitchen or pantry and suggests ways to combine them, according to any other options you choose.</p><span class="col-xs-2"></span><img class="col-xs-8"src="images/overviewFlow.png"/>
    </div>
    
<!--third page: inventory-->
     <div ng-if="guideCount === 2"class="col-xs-12 shiftUp" style="height:280px"><img src="images/guideInv01.png" class="col-xs-6"/><div class="col-xs-6" style="height:260px"><p>First, you'd probably want to build a list of ingredients inside Dinner Wizard that reflects what you actually have.  <p>The accordion in the left panel on the Inventory page contains ingredients sorted by category.  You can also use the search box to find ingredients directly, without browsing through the accordion.</p> <p> Clicking ingredients in the accordions or selecting them in the search box will add them to your Dinner Wizard Inventory, which appears in the right panel. </p><p>Removing items from your Inventory is as easy as clicking them.</p></div><div class="col-xs-12 "><p class="shiftUp6">You can also remove everything from your Dinner Wizard Inventory by clicking the 'Clear Inventory' button below the Inventory box.</p></div></div>
 
<!--fourth page: search filters-->
      <div ng-if="guideCount === 3"class="col-xs-12"style="height: 280px">
         <img class="col-xs-5" src="images/guideFilter01.png"/><div class="col-xs-7"><p>Search Filters are used to restrict your search to potential ingredient combinations matching whichever descriptions you choose.</p><p>Filters chosen under the Flavor header approximate one of the flavors from the region they name.</p>
         <ul class ="keyHolding goLeft">
            <li><span class="other key">Spicy</span><span>: only show combinations that are spicy</span></li>
            <li><span class="other key">Vegetarian</span><span>: only show vegetarian combinations</span></li>
            <li><span class="other key">Under 30</span><span>(minutes) for preparation</span></li>
         </ul>
         
         </div><div class="shiftUp4"><p> Applying filters to your search without leaving the page can be done by clicking the 'Search' button.  </p><p>Navigating to the Combinations page will also automatically apply your filters to your search. Excluding ingredients or equipment from your search requires you to have ingredients in your Inventory.</p><p class="shiftUp7">More descriptions of each filter are available on the <span class="glyphicon glyphicon-question-sign"></span> page.</p></div>
      </div>
<!--fifth page: combinations part 1-->
      <div ng-if="guideCount === 4"class="col-xs-12"style="height:280px;"><img src="images/guideCombos01.png" class="col-xs-6"/><div class="col-xs-6"><p>Combinations are the heart of Dinner Wizard. Every ingredient that Dinner Wizard lists can be combined with others in at least one way. On the Combinations page, what you'll see are the combinations matching both the ingredients you placed in your Dinner Wizard Inventory and whichever search filters you chose.</p><p>Combinations are listed, as you may notice, by their primary three search filters.This is because combinations in</p></div><span class="col-xs-6">Dinner Wizard are simply suggestions of ways to combine ingredients. While Dinner Wizard does provide a rudimentary</span><img src="images/guideCombos02.png" class="col-xs-6"/><div class="col-xs-12 shiftUp7"> prodedure and some suggested, approximate ingredient ratios, the decision is mainly up to you as to just how much you want to add of each ingredient and when.</div></div>
<!--sixth page: combinations part 2-->      
      <div ng-if="guideCount === 5"class="col-xs-12"style="height:280px;"><div class="col-xs-12"><img src="images/guideCombos03.png" class="col-xs-4"/><p class="col-xs-8">Some information aside from potential preparation procedures for combinations is also available on the Combinations page. Upon selecting a combination, you'll see a pie chart representation of the approximate suggested ingredient ratios for that combination. Interacting with the chart itself will display which ingredient belongs to which wedge of the chart.</p></div><div class="col-xs-7"><p>Some ingredients will also be interactive, providing more information as to how they can be substituted, and, in some cases, how they can be made.</p><p>Explore ingredient combinations yourself and see what you discover!</p></div><img src="images/guideCombos04.png" class="col-xs-5"/></div>
 <!--last page-->     
      <div ng-if="guideCount === 6"class="col-xs-12"style="height:280px;"><p>That's all for now!</p><div style="height:200px"></div>You can find more information or view the guide again on the <span class="glyphicon glyphicon-question-sign"></span> page.</div>
      
  <!--which buttons on the bottom are we using?-->    
      <div ng-if="guideCount === 6" class="col-xs-12"><!--last page buttons--->
         <div class="col-xs-6"><a ng-click="back()"><span class="col-xs-4 roundEdges">Back</span></a></div>
         <span class="col-xs-6"><span class="col-xs-6"></span><a ng-click="skip()"><span class="col-xs-5 roundEdges">Close</span></a></div></span>
      <div ng-if="guideCount != 6 && guideCount > 0" class="col-xs-12"> <!--guide actual content page buttons-->
         <div class="col-xs-6"><a ng-click="back()"><span class="col-xs-4 roundEdges">Back</span></a></div>
         <span class="col-xs-6"><span class="col-xs-6"></span><a ng-click="cont()"><span class="col-xs-5 roundEdges">Next</span></a></span>
      </div>
      
   </div>
   

