 <!--
File: inventory.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Created:  2/09/2015 by Susan Souza for use in the Dinner Wizard application
Modified: 2/14/2015 by Susan Souza to add initial accordion and inventory-building  logic
Modified: 2/21/2015 by Susan Souza to add 'Clear Inventory' button
Modified: 2/25/2015 by Susan Souza to change implementation of accordion sections in compliance 
with new JSON and to add interactvity to 'Clear Invenory' button.
Modified: 3/10/2015 by susan Souza to change the attribute accessed to generate ingredient lists 
from 'ingredientName' to 'name'
Modified: 3/13/2015 by Susan Souza to make accordion headers fully clickable-- toggle on a click anywhere in the header
-- rather than the text only.
Modified: 3/14/2015 by Susan Souza to add  a typeahead search bar with glyphicon magnifying glass.
Modified: 3/15/2015 by Susan Souza to limit typeahead results to the correct object field rather than all of them

-->

<div class="col-xs-10 col-sm-5" >
    <p><div>Ingredient Selection: 
      <!--searchbar with typeahead found here:
      http://angular-ui.github.io/bootstrap/
      Restriction of typeahead suggestions to only the name property of ingredient objects found here:
      http://stackoverflow.com/questions/16045069/limit-angular-ui-bootstrap-typeahead-to-specific-object-property
      -->
         <div id="searchAdd">
            <input id ="ingredientSearch" type="text" ng-model="selected" typeahead="ingredient.name for ingredient in ingredients | filter:{name:$viewValue} | limitTo:7" typeahead-editable="ingredients" typeahead-on-select="clickedFromListing(selected)" typeahead-wait-ms="30"class="form-control"><span class="glyphicon glyphicon-search" id="searchIcon"></span>
         </div>
         </div>
      </p>
 
   <!-- AngularUI Bootstrap Accordion found here, with some modifications:
   http://angular-ui.github.io/bootstrap/ -->
   <accordion close-others="oneAtATime"class="inv"><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577
   -->
      <accordion-group>
         <accordion-heading>
            <div>
            Alternate Protein
            </div>
         </accordion-heading>
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Alternate Protein'"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
      <accordion-group>
         <accordion-heading>
            <div>
               Meat
            </div>
         </accordion-heading>
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Meat'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
      <accordion-group>
         <accordion-heading>
            <div>
               Seafood
            </div>
         </accordion-heading>
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Seafood'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
      <accordion-group>
         <accordion-heading>
            <div>
               Starch
            </div>
         </accordion-heading>
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Starch'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
      <accordion-group>
         <accordion-heading>
            <div>
               Vegetables
            </div>
         </accordion-heading>
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Vegetables'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
      <accordion-group>
         <accordion-heading>
            <div>
               Pre-Made
            </div>
         </accordion-heading>
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Pre-Made'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
   </accordion>
  
</div>
<div class="col-xs-0 col-sm-1"></div>  
<div class="col-xs-10 col-sm-6">
   <div class = "rightColumn ">
      <div style="display: inline-block">Your Inventory: </div> <div style="display: inline-block;margin-left: 10px"><span style="border: 1px solid gray; border-radius: 12px; padding: 3px; color: black; background-color: lightgray; cursor:pointer; position:absolute; text-align: center" ng-click="checkIt()" tooltip-placement="right" tooltip-popup-delay='500' tooltip= '(Show Recipe Results for Only Ingredients in your Inventory)'>Restrict Recipes</span><input type="checkbox" name="exclusionBox" id = "exclusionBox" value="boxy" style="margin-left: 5px" ></div>
      
      <ul>
         <li ng-repeat="item in list track by $index" style="list-style-type: none" ng-click="clickedFromInventory(item)">{{item}}</li>
      </ul><!-- Resolved error with using ng-repeat and adding items to an array dynamically here: https://docs.angularjs.org/error/ngRepeat/dupes -->
   </div>
   <div class="col-xs-2"></div>
      <div class="col-xs-5 "><a class="roundEdges" ng-click="search()">Filter Recipes</a></div>
       <div class="col-xs-5 "><a class="roundEdges" ng-click="clearInv()">Clear Filters</a></div> 
    <div class="col-xs-2"></div>
</div>


