 <!--
File: inventory.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Created:  2/09/2015 by Susan Souza for use in the Dinner Wizard application
Modified: 2/14/2015 by Susan Souza to add initial accordion and inventory-building  logic
Modified: 2/21/2015 by Susan Souza to add 'Clear Inventory' button
Modified: 2/25/2015 by Susan Souza to change implementation of accordion sections in compliance 
with new JSON and to add interactvity to 'Clear Invenory' button.
Modified: 3/10/2015 by susan Souza to change the attribute accessed to generate ingredient lists 
from 'ingredientName' to 'name'

-->

<div class="col-xs-10 col-sm-5 contentContainer" ><p>{{ message }} Selection:</p> 
<!-- AngularUI Bootstrap Accordion found here, with some modifications:
http://angular-ui.github.io/bootstrap/ -->
   <accordion close-others="oneAtATime"><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577
   -->
      <accordion-group heading="Alternate Protein">
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Alternate Protein'"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
            <accordion-group heading="Meat">
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Meat'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
            <accordion-group heading="Seafood">
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Seafood'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
            <accordion-group heading="Starch">
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Starch'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
            <accordion-group heading="Vegetables">
         <ul>
            <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Vegetables'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromListing(content.name)">{{content.name}}</a></li>
         </ul>
      </accordion-group>
   </accordion>
</div>
<div class="col-xs-0 col-sm-1"></div>  
<div class="col-xs-10 col-sm-6 contentContainer ">
   <div class = "rightColumn contentContainer">
      <p>Your Inventory:</p>
      <ul>
         <li ng-repeat="item in list track by $index" style="list-style-type: none" ng-click="clickedFromInventory(item)">{{item}}</li>
      </ul><!-- Resolved error with using ng-repeat and adding items to an array dynamically here: https://docs.angularjs.org/error/ngRepeat/dupes -->
   </div>
   <div class="col-xs-0 col-sm-1"></div>  
  
      <div class="col-xs-5"><a class="roundEdges" ng-click="search()">Find Recipes</a></div>
      <div class="col-xs-6 "><a class="roundEdges" ng-click="clearInv()">Clear Inventory</a></div> 
    
</div>


