 <!--
File: recipefilters.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Created:  2/09/2015 by Susan Souza for use in the Dinner Wizard application
Modified: 2/25/2015 by Susan Souza to add interactivity and 'Clear Filters' button
Modified: 3/13/2015 by Susan Souza to make accordion headers fully clickable-- toggle on a click anywhere in the header
-- rather than the text only.
-->
<div class="col-xs-10 col-sm-5" ><p>{{ message }} Selection:</p> 
<!-- AngularUI Bootstrap Accordion found here, with some modifications:
http://angular-ui.github.io/bootstrap/ -->
   <accordion close-others="oneAtATime" class = "filt"><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577
   -->
      <accordion-group ng-repeat ="cat in filterList">
         <accordion-heading>
            <div>
               {{cat.Category}}
            </div>
         </accordion-heading>
         <ul ng-repeat="content in cat.Contents">
            <li style="list-style-type: none" ><a ng-click="clickedFromTagListing(content)">{{content}}</a></li>
         </ul>
         </accordion-group>
          <accordion-group>
               <accordion-heading>
                  <div>
                     Equipment
                  </div>
               </accordion-heading>
               <ul ng-repeat="item in equipment">
                  <li style="list-style-type: none" ><a ng-click="clickedFromEquip(item.name)">{{item.name}}</a></li>
               </ul>
            </accordion-group>
            <accordion-group>
               <accordion-heading>
               <div>
                  Without
                  </div>
               </accordion-heading>
               <accordion close-others="oneAtATime" class="rec"><!--begin Without nested Accordions-->
                  <accordion-group>
                     <accordion-heading>
                        <div>
                           Ingredients
                        </div>
                     </accordion-heading>
                      <accordion close-others="oneAtATime"class="inv">
                        <accordion-group>
                           <accordion-heading>
                              <div>
                              Alternate Protein
                              </div>
                           </accordion-heading>
                           <ul>
                              <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Alternate Protein'"style="list-style-type: none" ><a ng-click="clickedFromWithout(content.name)">{{content.name}}</a></li>
                           </ul>
                        </accordion-group>
                        <accordion-group>
                           <accordion-heading>
                              <div>
                                 Meat
                              </div>
                           </accordion-heading>
                           <ul>
                              <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Meat'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromWithout(content.name)">{{content.name}}</a></li>
                           </ul>
                        </accordion-group>
                        <accordion-group>
                           <accordion-heading>
                              <div>
                                 Seafood
                              </div>
                           </accordion-heading>
                           <ul>
                              <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Seafood'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromWithout(content.name)">{{content.name}}</a></li>
                           </ul>
                        </accordion-group>
                        <accordion-group>
                           <accordion-heading>
                              <div>
                                 Starch
                              </div>
                           </accordion-heading>
                           <ul>
                              <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Starch'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromWithout(content.name)">{{content.name}}</a></li>
                           </ul>
                        </accordion-group>
                        <accordion-group>
                           <accordion-heading>
                              <div>
                                 Vegetables
                              </div>
                           </accordion-heading>
                           <ul>
                              <li ng-repeat="content in ingredients" ng-if="content.tags[0]==='Vegetables'"style="list-style-type: none"style="list-style-type: none" ><a ng-click="clickedFromWithout(content.name)">{{content.name}}</a></li>
                           </ul>
                        </accordion-group>
                     </accordion>
                  </accordion-group>
                  <!-- end Without Ingredients-->
                  <accordion-group>
                     <accordion-heading>
                        <div>
                           Equipment
                        </div>
                     </accordion-heading>
                     <ul ng-repeat="item in equipment">
                        <li style="list-style-type: none" ><a ng-click="clickedFromWithout(item.name)">{{item.name}}</a></li>
                     </ul>
                  </accordion-group>
                  <!--end Without Equipment-->
               
               </accordion>
         </accordion-group>
   </accordion>
</div>
<div class="col-xs-0 col-sm-1"></div>  
<div class="col-xs-11 col-sm-6">
   <div class = "rightColumn "><!--<p>Selected Recipe Filters:</p>-->
   Your Search Filter Selections:
      <ul class ="actualTagsList">
         <li ng-repeat="item in tags track by $index" style="list-style-type: none" ng-click="clickedFromSelectedTags(item)"><span class ="tags" ng-class="{'without': item.substr(0,3)=== 'NO ', 'equip': item.substr(0,4)== 'Use ', 'flavor': item == 'Mexican' || item == 'Chinese' || item == 'Italian' ||item == 'Southeast Asian' || item == 'Western' || item == 'Mediterranean', 'other': item =='Vegetarian' || item =='Under 30 Minutes' || item == 'Cost Cutter', 'noStyle': item === 'No Search Filters Selected'}"> {{item}}</span></li>
      </ul><!-- Resolved error with using ng-repeat and adding items to an array dynamically here: https://docs.angularjs.org/error/ngRepeat/dupes -->
   </div>
   <div class="col-xs-2"></div>
      <div class="col-xs-5 "><a class="roundEdges" ng-click="search()">Filter Recipes</a></div>
       <div class="col-xs-5 "><a class="roundEdges" ng-click="clearList()">Clear Filters</a></div> 
    <div class="col-xs-2"></div>
</div>


