 <!--
File: recipefilters.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Created:  2/09/2015 by Susan Souza for use in the Dinner Wizard application
Modified: 2/25/2015 by Susan Souza to add interactivity and 'Clear Filters' button

-->
<div class="col-xs-11 col-sm-6 contentContainer" ><p>{{ message }} Selection:</p> 
<!-- AngularUI Bootstrap Accordion found here, with some modifications:
http://angular-ui.github.io/bootstrap/ -->
   <accordion close-others="oneAtATime"><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577
   -->
      <accordion-group heading="{{cat.Category}}" ng-repeat ="cat in filterList">
         <ul ng-repeat="content in cat.Contents" >
            <li style="list-style-type: none" ><a ng-click="clickedFromTagListing(content)">{{content}}</a></li>
         </ul><!-- note to self: need to get to the sub-categories in this... accordion nesting, GO! -->
      </accordion-group>
   </accordion>
</div>
<div class="col-xs-0 col-sm-1"></div>  
<div class="col-xs-11 col-sm-5 contentContainer ">
   <div class = "rightColumn contentContainer"><!--<p>Selected Recipe Filters:</p>-->
   Your Search Filter Selections:
      <ul >
         <li ng-repeat="item in tags track by $index" style="list-style-type: none" ng-click="clickedFromSelectedTags(item)"> {{item}}</li>
      </ul><!-- Resolved error with using ng-repeat and adding items to an array dynamically here: https://docs.angularjs.org/error/ngRepeat/dupes -->
   </div>
   <div class="col-xs-2"></div>
      <div class="col-xs-5 "><a class="roundEdges" ng-click="search()">Filter Recipes</a></div>
       <div class="col-xs-5 "><a class="roundEdges" ng-click="clearList()">Clear Filters</a></div> 
    <div class="col-xs-2"></div>
</div>


