 <!--
File: recipefilters.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Project Team: Susan Souza, Tommy Leedberg, Matthew Szekely
Created:  2/09/2015 by Susan Souza for use in the Dinner Wizard application
Modified: 2/25/2015 by Susan Souza to add interactivity and 'Clear Filters' button
Modified: 3/13/2015 by Susan Souza to make accordion headers fully clickable-- toggle on a click anywhere in the header
-- rather than the text only.
-->
<div class="col-xs-5 col-sm-6" ><p class = "pushDown">Filters Selection:</p> 
<!-- AngularUI Bootstrap Accordion found here, with some modifications:
http://angular-ui.github.io/bootstrap/ -->
   <div class= "listing">
      <accordion close-others="oneAtATime" class = "filt"><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577
      -->
         <accordion-group ng-repeat ="cat in filterList">
            <accordion-heading>
               <div>
                  {{cat.Category}} <span class="glyphicon glyphicon-chevron-down"></span>
               </div>
            </accordion-heading>
            <ul ng-repeat="content in cat.Contents|orderBy: 'name'">
               <li style="list-style-type: none" ng-if="content.name !=='Component'" ng-class="{'selected': tags.indexOf(content.name) > -1}"ng-click="clickedFromTagListing(content.name)">{{content.name}}</li>
            </ul>
            </accordion-group>
             <accordion-group>
                  <accordion-heading>
                     <div>
                        Equipment <span class="glyphicon glyphicon-chevron-down"></span>
                     </div>
                  </accordion-heading>
                  <ul ng-repeat="item in equipment|orderBy: 'name'">
                     <li style="list-style-type: none" ng-class="{'selected': tags.indexOf('Use ' + item.name) > -1}" ng-click="clickedFromEquip(item.name)">{{item.name}}</li>
                  </ul>
               </accordion-group>
               <accordion-group>
                  <accordion-heading>
                  <div>
                     Without <span class="glyphicon glyphicon-chevron-down"></span>
                     </div>
                  </accordion-heading>
                  <accordion close-others="oneAtATime" class="inv"><!--begin Without nested Accordions-->
                     <accordion-group>
                        <accordion-heading>
                           <div>
                              Ingredients <span class="glyphicon glyphicon-chevron-down"></span>
                           </div>
                        </accordion-heading>
                        <accordion close-others="oneAtATime" class="rec" ><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577-->
                        
                           <accordion-group ng-repeat="cat in ingrCats">
                              <accordion-heading >
                                 <div>
                                    {{cat}} <span class="glyphicon glyphicon-chevron-down"></span>
                                 </div>
                              </accordion-heading>
                              <ul>
                                 <li ng-repeat="content in ingredients|orderBy: 'ingredientName'" ng-if="content.tags[0].name===cat" style="list-style-type: none" ng-click="clickedFromWithout(content.ingredientName)" ng-class="{'selected': tags.indexOf('NO ' + content.ingredientName) > -1}">{{content.ingredientName}}</li>
                              </ul>
                           </accordion-group>
                           <!-- end Without Ingredients-->
                        </accordion>
                     </accordion-group>
                     <accordion close-others="oneAtATime" class="inv">
                        <accordion-group>
                           <accordion-heading>
                              <div>
                                 Equipment <span class="glyphicon glyphicon-chevron-down"></span>
                              </div>
                           </accordion-heading>
                           <ul ng-repeat="item in equipment|orderBy: 'name'">
                              <li style="list-style-type: none" ng-class="{'selected': tags.indexOf('NO ' + item.name) > -1}" ng-click="clickedFromWithout(item.name)">{{item.name}}</li>
                           </ul>
                        </accordion-group>
                     </accordion>
                     <!--end Without Equipment-->
                  </accordion>
            </accordion-group>              
         </accordion>
      </div>
   </div>
<div class="col-xs-1 col-sm-0"></div>  
<div class="col-xs-6 col-sm-6">
   <div class = "rightColumn listContainer"><!--<p>Selected Recipe Filters:</p>-->
   Your Search Filter Selections:
      <ul class ="actualTagsList">
         <li ng-repeat="item in tags track by $index" style="list-style-type: none" ng-click="clickedFromSelectedTags(item)"ng-class="{'noInteract': item === 'No Search Filters Selected'}"><span class ="tags" ng-class="{'without': item.substr(0,3)=== 'NO ', 'equip': item.substr(0,4)== 'Use ', 'flavor': item == 'Mexican' || item == 'Chinese' || item == 'Italian' ||item == 'Southeast Asian' || item == 'Western' || item == 'Mediterranean', 'other': item =='Vegetarian' || item =='Under 30' || item == 'Cost Cutter' || item =='Spicy' || item== 'Component', 'noStyle': item === 'No Search Filters Selected', 'noInteract': item === 'No Search Filters Selected'}"> {{item}}</span><span ng-if="item !== 'No Search Filters Selected'" class="closingX">x</span></li>
      </ul><!-- Resolved error with using ng-repeat and adding items to an array dynamically here: https://docs.angularjs.org/error/ngRepeat/dupes -->
   </div>
   <div class="col-xs-12">
      <div class="col-xs-6"><span class="col-xs-3"></span><a class="roundEdges" ng-click="search()">Search</a></div>
      <div class="col-xs-6 "><a class="roundEdges" ng-click="clearList()">Clear Search</a></div> 
   </div>
</div>
<div class="leftKey">
   <ul>
      <li><span class="other key">Spicy</span><span>: only show combinations that are spicy</span></li>
      <li><span class="other key">Vegetarian</span><span>: only show vegetarian combinations</span></li>
      <li><span class="other key">Under 30</span><span>(minutes) for preparation</span></li>

   </ul>
</div>

