 <!--
File: recipeview.html
91.462 GUI Programming II, Prof. Heines, University of Massachusetts Lowell
Created:  2/09/2015 by Susan Souza for use in the Dinner Wizard application
Modified: 2/21/2015 by Susan Souza to customize general layout and add some 
placeholder text
Modified: 2/22/2015 by Susan Souza to drop in the AngularJS for the display of recipes
Modified: 2/25/2015 by Susan Souza to tweak Angular expressions in compliance with new JSON
Modified: 3/13/2015 by Susan Souza to make accordion headers fully clickable-- toggle on a click 
anywhere in the header-- rather than the text only.
Modified: 3/15/2015 by Susan Souza to make accordion headings for recipes show the first three (major) 
tags/search filters rather than names, as described in original documentation. Added a div to display all search filters/tags associated with each recipe above procedure box.


-->
<div class="col-xs-11 col-sm-5"><!--left-hand column. Contains recipe selection accordion (with ingredients) -->
   <p>Recipes Found:</p>

<!-- AngularUI Bootstrap Accordion found here, with some modifications: http://angular-ui.github.io/bootstrap/ -->
   <accordion class = "rec" close-others="oneAtATime"><!--captured click from examples found here: http://stackoverflow.com/questions/15642082/handle-open-collapse-events-of-accordion-in-angular/15642577#15642577
   -->
      <accordion-group ng-repeat="recipe in recipes track by $index">
         <accordion-heading>
         <div ng-click="showRecipe(recipe.recipeName)">
            <ul style="margin-bottom:1px" >
         <li ng-repeat="item in recipe.tags track by $index" ng-if="$index < 3"style="display: inline-block; left:-50px; font-size:1em">{{item}}</li>
      </ul>
         </div>
         </accordion-heading>
         <ul ng-repeat="ingredient in recipe.ingredients" >
            <li style="list-style-type: none" >{{ingredient.name}}</li>
         </ul>
      </accordion-group>
   </accordion>
</div><!--end left-hand column-->
<div class="col-xs-0 col-sm-1"></div><!--spacer column; hidden on smaller screens-->
<div class="col-xs-11 col-sm-6 rightColumn"><!--container for positioning of the right-hand column's content -->
   <div class="col-xs-11">
      <div class="col-xs-6 contentContainer infoBox">
         <p>Tips, Substitutions, Ratio Chart or Component Mini Recipes</p>
      </div>
      <div class="col-xs-0 col-sm-1"></div><!--spacer column; hidden on smaller screens-->
      <div class="col-xs-5 contentContainer tagsList">
       <ul class = "actualTagsList">
         <li ng-repeat= "tag in tags"style="list-style-type: none">{{tag}}</li>
       </ul>
      </div>
   </div>
   <div class="col-xs-11" style="padding: 1px">
      <ul ng-repeat="rec in recipes| filter: {recipeName:showMeRecipe}:true" style="margin-bottom:1px" >
         <li ng-repeat="selected in rec.tags" style="list-style-type: none; position: relative; margin-right: 9px; left: -25px;display: inline-block">{{selected}}</li>
      </ul>
   </div>
   <div class="col-xs-11 procedureBox"><p><!--{{showMeRecipe}} -->Procedure:</p>
      <ol ng-repeat="rec in recipes| filter: {recipeName:showMeRecipe}:true">
         <li  ng-repeat="procedure in rec.prepInst">{{procedure}}</li>
      </ol>
   </div><!--end all recipe display content for right-hand column-->
</div><!--end rightColumn-->